{% extends 'layout.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/dark-hive/jquery-ui.min.css"
          integrity="sha512-gCFexX+67Pl9rPa75MMyEH2I5jbD5tqij8VBYcsLVwgVfVEdfon+9CEjVnXPtqoHLXjxrjMcyHLaee65dt/jxw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/dark-hive/theme.min.css"
          integrity="sha512-pN35/N51n1IeABlNGOSb5ltVKGbvUE8exTMhiB/4ijuy+UOYEWawQZzEs2yUvvCWopRO3uiRueeGnd/mQD0eTQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script>
        $(function () {
            let dialog, form,

                // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
                emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
                name = $("#name"),
                email = $("#email"),
                password = $("#password"),
                ip = $("#ipv4"),
                allFields = $([]).add(name).add(email).add(password),
                tips = $(".validateTips");

            function updateTips(t) {
                tips
                    .text(t)
                    .addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }

            function checkLength(o, n, min, max) {
                if (o.val().length > max || o.val().length < min) {
                    o.addClass("ui-state-error");
                    updateTips("Length of " + n + " must be between " +
                        min + " and " + max + ".");
                    return false;
                } else {
                    return true;
                }
            }

            function checkRegexp(o, regexp, n) {
                if (!(regexp.test(o.val()))) {
                    o.addClass("ui-state-error");
                    updateTips(n);
                    return false;
                } else {
                    return true;
                }
            }

            function submitToElancell() {
                var valid = true;
                allFields.removeClass("ui-state-error");

                valid = valid && checkLength(name, "username", 3, 16);
                valid = valid && checkLength(email, "email", 6, 80);
                valid = valid && checkLength(password, "password", 5, 16);

                let filenameCheck = checkRegexp(name, /^[a-z]([0-9a-z_\.\s])+$/i, "error in the configuration, please re-check all the values")
                valid = valid && filenameCheck
                valid = valid && checkRegexp(email, emailRegex, "eg. ui@jquery.com");
                valid = valid && checkRegexp(password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9");

                if (!filenameCheck) {
                    $("#ipv4").removeAttr("disabled");
                    // should I reset the file name?
                    //$("#name").val("results.csv");
                }

                if (valid) {
                    let ipVal = ip.val();
                    if (ipVal === "134.231.83.19") {
                        // upload to POD
                        dialog.dialog("close");
                        swal("Sent", "Results were sent successfully to IP address: \n" + ipVal, "success");
                    } else if (ipVal === "134.231.54.23") {
                        // Upload to Rachel
                        dialog.dialog("close");
                        swal("Sent", "Results were sent successfully to IP address: \n" + ipVal, "warning");
                    } else {
                        swal("Forbidden Connection", "The server failed to validate the certificate, please make sure of the configuration", "error");
                    }
                }
                return valid;
            }

            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 600,
                width: 550,
                modal: true,
                buttons: {
                    Cancel: function () {
                        dialog.dialog("close");
                    },

                    "Upload": submitToElancell,
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            form = dialog.find("form").on("submit", function (event) {
                event.preventDefault();
                submitToElancell();
            });

            $("#BtnUpload").button().on("click", function () {
                dialog.dialog("open");
            });
        });
    </script>
    <style>
        h3 {
            font-size: unset;
        }

        #lang-box {
            visibility: hidden;
        }

        .ui-widget {
            font-family: unset;
        }

        .ui-widget button {
            font-family: unset;
        }

        .form-control:disabled {
            background-color: black;
            opacity: 0.8;
        }

        .form-control:enabled {
            background-color: lightskyblue;
        }

        .form-label {
            color: lightskyblue;
        }

        label, input {
            display: block;
        }

        input.text {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
            font-family: unset;
        }

        fieldset {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }

        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }
    </style>
    <style>
        li {
            list-style-type: none;
            font-size: 16pt;
        }

        .mail {
            margin: auto;
            padding: 50px;
            width: 1000px;
            border-style: solid;
            border-width: medium;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }

        .container button {
            width: 30%;
            height: 4rem;
            font-size: 1.5rem;
            cursor: pointer;
            margin: 40px;
        }

        .container .loading-wrapper {
            width: 70%;
            margin: 20px;
            box-sizing: border-box;
            display: none;
        }

        .container .loading-wrapper h1 {
            font-size: 1.5rem;
            text-align: center;
        }

        .container .loading-wrapper .loading-bar {
            width: 100%;
            height: 4rem;
            border: 0.4rem solid #41FF00;
            box-sizing: border-box;
            margin-top: 2rem;
        }

        .container .loading-wrapper .loading-bar .loading-fill {
            width: 1%;
            height: 100%;
            background: #41FF00;
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
            integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block content %}
    <div id="dialog-form" title="Upload to Elancell">
        <p class="validateTips">All form fields are required.</p>

        <form>
            <fieldset class="form-outline">
                <h3>Network Configuration</h3>
                <label class="form-label" for="ipv4">ip
                    <input id="ipv4" type='text' name='text1' value="134.231.83.19"
                           class="form-control text ui-widget-content ui-corner-all" disabled/>
                </label>

                <label class="form-label" for="email">account
                    <input type="email" name="email" id="email" value="david@elancell.com"
                           class="form-control text ui-widget-content ui-corner-all" disabled/>
                </label>
                <label class="form-label" for="password">password
                    <input type="text" name="password" id="password" value="xxxxxxx"
                           style="-webkit-text-security: disc;"
                           class="form-control text ui-widget-content ui-corner-all" disabled/>
                </label>

                <h3>File Info</h3>
                <label class="form-label" for="name">name</label>
                <input type="text" name="name" id="name" value="results.csv"
                       class="form-control text ui-widget-content ui-corner-all"/>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <div class="mail">
        <div class="container">
            <button id="btn" class="btn btn-info">COMPILE DATA</button>
            <div class="loading-wrapper">
                <h1 id="loadId">Compiling...</h1>
                <div class="loading-bar">
                    <div class="loading-fill"></div>
                </div>
            </div>
            <button id="BtnUpload" class="submit">Submit Results</button>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/elancell_upload.js') }}">
    </script>

    <script type="text/javascript">
        //input mask bundle ip address
        const ipv4_address = $('#ipv4');
        ipv4_address.mask('099.099.099.099', {
            alias: "ip",
            greedy: false //The initial mask shown will be "" instead of "-____".
        });

        document.addEventListener('DOMContentLoaded', () => {

            const btn = document.querySelector('#btn');
            const uploadBtn = document.querySelector('#BtnUpload');
            const loadingScreen = document.querySelector('.loading-wrapper');
            let isBtn = true;
            let isLoading = false;
            uploadBtn.setAttribute("disabled", "true");

            const toggleScreens = () => {
                isBtn = !isBtn;
                isLoading = !isLoading;
                isBtn ? btn.style.display = 'block' : btn.style.display = 'none';
                isLoading ? loadingScreen.style.display = 'block' : loadingScreen.style.display = 'none';
            }

            const animate = (elancellStatus) => {
                const loadingFill = document.querySelector('.loading-fill');
                let width = 1;
                const interval = setInterval(fill, 50);
                let isEnabled = elancellStatus === "enable"

                function fill() {
                    if (!isEnabled && width === 33) {
                        $("#loadId")[0].innerHTML = "Compilation failed!<br>No enough data to complete the process"
                        $(".loading-bar")[0].style.borderColor = "red";
                        clearInterval(interval);
                        setTimeout(function () {
                            toggleScreens();
                            loadingFill.style.width = '1%';
                            $(".loading-bar")[0].style.borderColor = "";
                            $("#loadId")[0].innerHTML = "Compiling...";
                        }, 5000)
                    } else if (isEnabled && width >= 100) {
                        $("#loadId")[0].innerHTML = "compiled successfully ✔️"
                        uploadBtn.removeAttribute('disabled');
                        clearInterval(interval);
                    } else {
                        width++;
                        loadingFill.style.width = width + '%';
                    }
                }
            }

            btn.addEventListener('click', () => {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("get_elancell") }}',
                    contentType: 'application/json;charset=UTF-8',
                    success: function (res) {
                        toggleScreens();
                        animate(res);
                    }
                });
            });

        });
    </script>
{% endblock %}