{% extends "layout.html" %}

{% block head %}
    <style>
        .modal-dialog {
            max-width: fit-content;
            background-color: transparent;
            text-align: center;
        }

        .modal-body {
            padding: 0;
        }

        .modal-content {
            background-color: transparent;
        }

        .button-close {
            float: right;
            background-color: black;
            border-radius: 50% 50% 0 0;
            border: 0;
        }

        .hint-box {
            text-align: center;
            border: transparent;
            background-color: transparent;
        }

        main {
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0 0 70px;
            background-color: white;
            height: 550px;
        }

        .thumbnail {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 100px 20px 0;
        }

        .thumbnail i {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100px;
            width: auto;
            font-size: 100px;
            color: #263238;
            cursor: pointer;
        }

        .thumbnail i span {
            position: relative;
            top: 2px;
            font-family: OldPC, system-ui;
            font-size: 12px;
            width: fit-content;
            color: white;
            padding: 7px 30px;
            background: #212121;
            border-radius: 3px;
            opacity: 0;
            transition: opacity .2s, top .3s;
        }

        .thumbnail h1 {
            position: relative;
            top: 5px;
            font-size: 20px;
        }


        .thumbnail:hover h1 {
            opacity: 0;
        }

        .new-folder:hover i {
            color: #607D8B;
        }

        .thumbnail:hover span {
            top: 0;
            opacity: 1;
        }

        #lang-box {
            visibility: hidden;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="modal fade"
         id="vidTruthModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="vidTruthModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div>
                    <button class="button-close"
                            data-dismiss="modal">
                        <i class="fa-solid fa-circle-xmark" style="color: red; font-size: 20pt"></i>
                    </button>
                </div>

                <!-- Add image inside the body of modal -->
                <div class="modal-body">
                    <video autoplay controls id="vid_the_truth">
                        <source src="{{ url_for('static', filename='media/rachel/The_Truth_Sub_DE_480.webm') }}#t=0.1">
                    </video>
                </div>

            </div>
        </div>
    </div>

    <main id="main">
        <div class="thumbnail">
            <i class="fa fa-folder">
                <span>0 folders <br>4 files</span>
            </i>
            <h1>Results</h1>
        </div>
        <div class="thumbnail">
            <i class="fa fa-folder">
                <span>0 folders <br>2 files</span>
            </i>
            <h1>Photos</h1>
        </div>
        <div class="thumbnail">
            <i class="fa fa-folder">
                <span>0 folders <br>0 files</span>
            </i>
            <h1>Folder Name</h1>
        </div>
        <div class="thumbnail">
            <i class="fa fa-folder">
                <span>0 folders <br>0 files</span>
            </i>
            <h1>Folder Name</h1>
        </div>
        <div class="thumbnail">
            <button data-toggle="modal"
                    data-target="#vidTruthModal" class="hint-box">
                <i class="fa-regular fa-file-video">
                    <span>play video</span>
                </i>
            </button>
            <h1>The Truth</h1>
        </div>
    </main>
{% endblock %}

{% block add_js %}
    <script>

        $(function () {
            $('#vidTruthModal').modal({
                show: false
            }).on('hidden.bs.modal', function () {
                $(this).find('video')[0].pause();
                $(this).find('video')[0].currentTime = 0.1;
            });
        });

    </script>
{% endblock %}