{% extends 'layout.html' %}

{% block head %}
    <style>
        /* countdown */
        .countdown {
            font-size: 6.5rem;
            margin-top: 20px;
        }

        #lang-box {
            visibility: hidden;
        }

        #k-lab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        input {
            background: none;
            color: Red;
            outline: none;
            border: none;
            font-family: monospace;
        }

        prtscr {
            font-family: monospace;
            white-space: pre;
        }

        #cmdinputs {
            display: none;
        }

        button {
            background: none;
            border: solid 1px red;
            padding: 1rem;
            color: red;
            text-shadow: maroon 0 0 8px;
            font-family: monospace;
            text-transform: uppercase;
            cursor: pointer;
        }

        button:focus {
            outline: none;
        }

        button:active {
            background: red;
            color: maroon;
        }

        #bootContainer {
            color: green;
            overflow-y: scroll;
            height: 75vh;
        }
    </style>
{% endblock %}

{% block content %}
    <audio id="errorSnd">
        <source src="{{ url_for('static', filename='sounds/error.mp3') }}" type="audio/mpeg">
    </audio>
    <div id="bootContainer">
        <!-- <div id="test"></div> -->

        <button id="bootup" class="d-none">Power-On Airlock2</button>

        <pre id="prtscr"></pre>

        <div id="result"></div>
    </div>
    <div id="k-lab" class="d-none">
        <!-- countdown text -->
        <p>Please authenticate yourself before the time is up!</p>
        <p class="countdown">00</p>
    </div>
{% endblock %}

{% block add_js %}
    <script type="text/javascript">
        headerLines = [
            "░█████╗░██╗██████╗░██╗░░░░░░█████╗░░█████╗░██╗░░██╗\n",
            "██╔══██╗██║██╔══██╗██║░░░░░██╔══██╗██╔══██╗██║░██╔╝\n",
            "███████║██║██████╔╝██║░░░░░██║░░██║██║░░╚═╝█████═╝░\n",
            "██╔══██║██║██╔══██╗██║░░░░░██║░░██║██║░░██╗██╔═██╗░\n",
            "██║░░██║██║██║░░██║███████╗╚█████╔╝╚█████╔╝██║░╚██╗\n",
            "╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚══════╝░╚════╝░░╚════╝░╚═╝░░╚═╝\n",
            "POD83 Computers: NAVI-BIOS (c) 1983 \nLaboratory Corporation International, Inc. \n \n",
        ];
        bootLines = [
            "LAB: v4.105.22.0 \n\n",
            "Memory Test:\n",
            "X RAM -------------------- 2198485991424 KB\n",
            "WAIT . . . . . . . . . .\n",
            "Memory Test Complete.\n\n",
            "Total real memory	=	70,351,551,725,568 KB\nAvailable memory	=	70,351,551,725,568 KB\n",
            "\n==================================================================\n" +
            "Booting into System Maintenance Mode\n" +
            "==================================================================\n\n",
            "PCI Devices Listing ...\n\n",
            "Bus  Dev  Fun   Vendor  Device  SVID  SSID  Class\n",
            "0    20   1345  1235    1235    1235  Temp  Cntrlr\n",
            "\nBooting paravirtualized kernal on bare hardware\n",
            "setup_precpu: ",
            "NR_CPUS:8192 ",
            "NR_CPUS:8192 ",
            "NR_CPUS:8192\n",
            "Built X zonelists in Zone order, mobility grouping on, Total pages 16,940,741,088\n",
            "Checking aperture ...\n"
        ]

        errorLines = ["ERROR in app: Exception on /lab_control [INIT]",
            "Cannot load data from the hardware",
            "Connection is broken",
            "ERROR 432 - PLEASE CHECK CONNECTIONS"];

        successLine = "Laser is ready to use";
        appHeader = "##################################################################\n\n" +
            "Boot up successfully"+
            "AirLock Laser is ready!\n\n" +
            "##################################################################\n";

        function sleep(ms) {
            return new Promise(
                resolve => setTimeout(resolve, ms)
            );
        }

        async function delayedGreeting() {
            let fixed = "{{ g_config.boot }}";

            await sleep(1000);
            for (let line of headerLines) {
                appendLine(line);
            }

            await sleep(1000);
            for (const line of bootLines) {
                if (line.startsWith("X RAM")) {
                    for (let i = 0; i < 10; i++) {
                        appendLine(line);
                        await sleep(Math.floor(Math.random() * 50) + 1);
                    }
                    await sleep(1000);
                } else if (line.startsWith("0    20")) {
                    for (let i = 0; i < 12; i++) {
                        appendLine(line);
                        await sleep(Math.floor(Math.random() * 50) + 1);
                    }
                    await sleep(1000);
                } else {
                    appendLine(line);
                    await sleep(Math.floor(Math.random() * 300) + 1);
                }
            }

            await sleep(1000);

            if (fixed === "fixed") {
                await sleep(10);

                $('#prtscr').empty();
                $('#cmdinputs').show();
                $('#text').focus();
                appendLine(appHeader);

                $("#bootContainer").css("height", "unset");
                $("#k-lab").removeClass("d-none");
                setCountdownTimer(10);

            } else {
                $.post("{{ url_for('lab_control') }}", {
                    status: "error"
                });
                let snd = document.getElementById("errorSnd");
                snd.play();

                for (let i = 1; i < 5; i++) {
                    appendLine(`<p style="color: blue">attempt number: ${i}</p>`);
                    appendLine("re-initializing the laser");
                    await sleep(Math.floor(Math.random() * 700) + 1);
                    for (const line of errorLines) {
                        appendLine(`<p style="color: red">${line}</p>`);
                        await sleep(Math.floor(Math.random() * 100) + 1);
                    }
                }
                appendLine(`<p style="color: red"><strong>Failed to start the laser airlock..</strong></p>`);

                alert("𝙴𝚁𝚁𝙾𝚁 𝟺𝟹𝟸 - 𝙻𝚊𝚜𝚎𝚛 𝚊𝚒𝚛𝚕𝚘𝚌𝚔 𝚒𝚗𝚝𝚎𝚛𝚏𝚊𝚌𝚎 𝚗𝚘𝚝 𝚏𝚘𝚞𝚗𝚍 - 𝙿𝚕𝚎𝚊𝚜𝚎 𝚌𝚑𝚎𝚌𝚔 𝚌𝚘𝚗𝚗𝚎𝚌𝚝𝚒𝚘𝚗 𝚊𝚗𝚍 𝚝𝚛𝚢 𝚊𝚐𝚊𝚒𝚗");
                document.location.href = "/"
            }
            await sleep(0);

        }

        function appendLine(string) {
            $('#prtscr').append(string);
            // window.scrollTo(0, document.body.scrollHeight);
            $('#bootContainer').scrollTop($('#bootContainer')[0].scrollHeight);
        }

        $('#bootup').click(function () {
            $(this).hide();
            delayedGreeting();
        });

        $("#bootup").click()
    </script>
    <script type="text/javascript">
        // grab the .countdown
        const countDown = document.querySelector('.countdown');

        /* global variables and constants*/
        // variable to store setInterval
        let countDownInterval;
        // secondsLeft in millisecond
        let secondsLeftms;
        // end time
        let endTime;
        // .stop-btn clicked or not
        let stopBtnClicked = false;
        /* global variables ends */

        /* .form submit listener */
        function setCountdownTimer(timeInSec) {
            // check if it is not zero
            if (timeInSec > 0) {
                // convert to msec
                timeInSec = timeInSec * 1000;

                // get current time in milliseconds
                const now = Date.now();
                // calculate the ending time
                endTime = now + timeInSec;

                // activate the countdown at first
                setCountDown(endTime);

                countDownInterval = setInterval(() => {
                    setCountDown(endTime);
                }, 1000);
            }
        }

        /* setCountDown function */
        const setCountDown = (endTime) => {
            // calculate how many milliseconds is left to reach endTime from now
            secondsLeftms = endTime - Date.now();
            // convert it to seconds
            const secondsLeft = Math.round(secondsLeftms / 1000);

            // calculate the hours, minutes and seconds
            let hours = Math.floor(secondsLeft / 3600);
            let minutes = Math.floor(secondsLeft / 60) - (hours * 60);
            let seconds = secondsLeft % 60;

            // adding an extra zero in front of digits if it is < 10
            if (hours < 10) {
                hours = `0${hours}`;
            }
            if (minutes < 10) {
                minutes = `0${minutes}`;
            }
            if (seconds < 10) {
                seconds = `0${seconds}`;
            }

            // stopping the timer if the time is up
            if (secondsLeft < 0) {
                resetCountDown();
                return;
            }

            // set the .countdown text
            countDown.innerHTML = `${seconds}`;
        };
        /* setCountDown function ends */


        /* resetCountDown function */
        const resetCountDown = () => {
            // destroy the setInterval()
            clearInterval(countDownInterval);
            document.location.href = "/"
        };
        /* resetCountDown function ends */
    </script>
{% endblock %}