<header class="header-flex d-flex justify-content-between py-2">
    <div id="btn-main-back" class="ml-auto" style="width: 195px; height: 55px">
        {% if "+" in request.path %}
            <a class="btn btn-outline-" href='/browser/'><i class="fas fa-chevron-left"></i> BACK</a>
        {% elif request.path != "/" %}
            <a class="btn btn-outline-" href='/'><i class="fas fa-chevron-left"></i> BACK</a>
        {% endif %}
    </div>
    <div class="text-center">
        <h1 class="text-success typing-effect">{{ g_config.title }}</h1>
    </div>
    <div id="lang-box" class="btn-group btn-group-toggle ml-auto">
        <input type="radio" class="btn-check" onclick="switchLanguage('en')" name="LangSwitch" id="rb_en"
               autocomplete="off"/>
        <label class="btn btn-dark" for="rb_en">
            <p class="lang-txt text-lg-center">EN</p></label>

        <input type="radio" class="btn-check" onclick="switchLanguage('de')" name="LangSwitch" id="rb_de"
               autocomplete="off"/>
        <label class="btn btn-dark" for="rb_de">
            <p class="lang-txt text-lg-center">DE</p></label>
    </div>
</header>