{% extends 'layout.html' %}

{% block head %}
<style>
.card {
    background-color: transparent;
    border: unset;
    box-shadow: unset;
}
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="card col-md-6 m-sm-auto">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a  class="stretched-link" href="{{ url_for('get_post', name=post.path.replace('posts/', '')) }}">
                                {{ post.title }}
                            </a>
                        </h5>
                        <p class="card-text">{{ post.body|striptags|truncate(100) }}</p>
                        <small>{{ post.date }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}