{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/gas_analysis.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/gas_analysis_game.css') }}" media="screen">
{% endblock %}

{% block content %}
    <div id="fakeBody">
        <div class="options">
            {% for sample in g_config.samples %}
                <div id="option{{ loop.index }}" class="option {% if loop.index0 == 0 %}
                            active
                            {% endif %}">
                    <div style="display: none" class="shadow"></div>

                    <div class="gameContentClass {% if loop.index0 != 0 %}
                            d-none
                            {% endif %}" id="gameContent{{ loop.index }}">
                        <section class="score">
                            <span style="display: none" class="correct">0</span>
                            <span style="display: none" class="total">0</span>
                            <button id="play-again-btn">Play Again</button>
                        </section>
                        <section class="draggable-items">
                            <!-- Will be dynamically populated - Example Element: -->
                            <!-- <i class="fab fa-codepen draggable" draggable="true" style="color: #111111;" id="codepen"></i> -->
                        </section>
                        <section class="matching-pairs">
                            <!-- Will be dynamically populated - Example Element: -->
                            <!-- <div class="matching-pair">
                              <span class="label">Codepen</span><span class="droppable" data-brand="codepen"></span>
                            </div> -->
                        </section>
                    </div>

                    <div class="label">
                        <div class="icon">
                            <i class="{{ sample.icon }}"></i>
                        </div>
                        <div class="info">
                            <div class="main">{{ sample.name }}</div>
                            <div class="sub">{{ sample.status }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block add_js %}
    <script src="{{ url_for('static',filename='js/g_analysis_brands.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/gas_analysis_game.js') }}">
    </script>
    <script src="{{ url_for('static',filename='js/gas_analysis.js') }}">
    </script>
{% endblock %}