{% extends "layout.html" %}
{% block title %}
    Server Homepage
{% endblock %}

{% block chat_js %}
    <script type="text/javascript">
        function sendMessage(event) {
            event.preventDefault();
            let user_name = $("#dm_sender").val();
            let user_input = $("#input_msg").val();
            if (user_input) {
                socket.emit('msg_to_server', {
                    user_name: user_name,
                    message: user_input
                })
            }
            $("#input_msg").val('').focus();
            return false;
        }

        socket.on('connect', function () {
            socket.emit('msg_to_server', {
                update: "User '{{ g_config.title }}' is now connected"
            })
        })

        socket.on('response_to_fe', function (msg) {
            displayMessage(msg)
        })

        function displayMessage(msg) {
            if (msg.cmd) {
                $('#msg_holder').prepend(`<div class="text-success"> ${JSON.stringify(msg).replaceAll('"', "")}</div>`)
            } else if (typeof msg.user_name !== 'undefined') {
                $('#msg_holder').prepend(`<div><b style="color: #000"> ${msg.user_name}: </b>
                                        <p style="display: inline; color: white">${msg.message}</p></div>`)
            } else {
                $('#msg_holder').prepend(`<div class="text-warning"> ${JSON.stringify(msg).replaceAll('"', "")}</div>`)
            }
        }
    </script>
{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatroom.css') }}">
    <style>
        .switch-candy input:checked + label {
            background-color: rgb(var(--mdb-success-rgb));
        }

        .switch-toggle {
            display: inline-block;
            margin-inline-end: 35px;
        }

        .outer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        #lang-box {
            visibility: hidden;
        }
    </style>
    <script type="text/javascript">
        function onClickTerminal(src) {
            let msg = document.querySelector(`input[name="${src}"]:checked`).value;
            let src_cmd = src.split("_")
            socket.emit("events", {
                username: src_cmd[0],
                cmd: src_cmd[1],
                message: msg
            })
        }
    </script>
{% endblock %}

{% block content %}
    <div class="outer">
        <div>
            USB Boot:
            <div class="switch-toggle switch-candy">
                <input id="t1_shutdown" name="tr1_usbBoot" type="radio" value="disconnect" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t1_shutdown">Shutdown</label>

                <input id="t1_boot" name="tr1_usbBoot" type="radio" value="boot" onclick="onClickTerminal(name)"/>
                <label for="t1_boot">Boot up</label>
            </div>
        </div>
        <div>
            Terminal 1:
            <div class="switch-toggle switch-3 switch-candy">
                <input id="t1_david" name="tr1_auth" type="radio" value="david" onclick="onClickTerminal(name)"/>
                <label for="t1_david">David</label>

                <input id="t1_empty" name="tr1_auth" type="radio" value="empty" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t1_empty">Empty</label>

                <input id="t1_rachel" name="tr1_auth" type="radio" value="rachel" onclick="onClickTerminal(name)"/>
                <label for="t1_rachel">Rachel</label>
            </div>
        </div>
        <div>
            Terminal 2:
            <div class="switch-toggle switch-3 switch-candy">
                <input id="t2_david" name="tr2_auth" type="radio" value="david" onclick="onClickTerminal(name)"/>
                <label for="t2_david">David</label>

                <input id="t2_empty" name="tr2_auth" type="radio" value="empty" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t2_empty">Empty</label>

                <input id="t2_rachel" name="tr2_auth" type="radio" value="rachel" onclick="onClickTerminal(name)"/>
                <label for="t2_rachel">Rachel</label>
            </div>
        </div>
        <div>
            Airlock:
            <div class="switch-toggle switch-candy">
                <input id="t1_broken" name="tr1_airlock" type="radio" value="broken" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t1_broken">Broken</label>

                <input id="t1_fixed" name="tr1_airlock" type="radio" value="fixed" onclick="onClickTerminal(name)"/>
                <label for="t1_fixed">Fixed</label>
            </div>
        </div>
        <div>
            Microscope:
            <div class="switch-toggle switch-candy">
                <input id="t2_mOFF" name="tr2_mSwitch" type="radio" value="off" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t2_mOFF">OFF</label>

                <input id="t2_mON" name="tr2_mSwitch" type="radio" value="on" onclick="onClickTerminal(name)"/>
                <label for="t2_mON">ON</label>
            </div>
            <div class="switch-toggle switch-5 switch-candy">
                <input id="t2_sample1" name="tr2_microscope" type="radio" value="1" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t2_sample1">S-1</label>

                <input id="t2_sample2" name="tr2_microscope" type="radio" value="2" onclick="onClickTerminal(name)"/>
                <label for="t2_sample2">S-2</label>

                <input id="t2_sample3" name="tr2_microscope" type="radio" value="3" onclick="onClickTerminal(name)"/>
                <label for="t2_sample3">S-3</label>

                <input id="t2_sample4" name="tr2_microscope" type="radio" value="4" onclick="onClickTerminal(name)"/>
                <label for="t2_sample4">S-4</label>

                <input id="t2_sample5" name="tr2_microscope" type="radio" value="5" onclick="onClickTerminal(name)"/>
                <label for="t2_sample5">S-5</label>

            </div>
        </div>
        <div>
            Elancell upload:
            <div class="switch-toggle switch-candy">
                <input id="t2_disable" name="tr2_elancell" type="radio" value="disable" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="t2_disable">Disable</label>

                <input id="t2_enable" name="tr2_elancell" type="radio" value="enable" onclick="onClickTerminal(name)"/>
                <label for="t2_enable">Enable</label>
            </div>
        </div>

        <div>
            reset samples:
            <div class="switch-toggle switch-candy">
                <input id="ser_reset" name="server_reset" type="radio" value="reset" checked="checked"
                       onclick="onClickTerminal(name)"/>
                <label for="ser_reset">Reset</label>
            </div>
        </div>
    </div>
    <label for="msg_holder">Chat Messages</label>
    <div class="message_holder" id="msg_holder">
    </div>

    <form id="sendMsgForm" action="" method="POST" onsubmit="sendMessage(event)" autocomplete='off'>
        <label for="dm_sender">Sender: </label>
        <select class="form-select w-auto d-inline" id="dm_sender">
            <option value="SYS" selected>System</option>
            <option value="TR1">Terminal 1</option>
            <option value="TR2">Terminal 2</option>
            <option value="SN1">RFID T1</option>
            <option value="SN2">RFID T2</option>
        </select>
        <label class="w-50">
            <input type="text" class="message w-100" id="input_msg" placeholder="Messages"/>
        </label>
        <input type="submit" value="Send">
    </form>
{% endblock %}

{% block add_js %}
    <script type="text/javascript">
        let msg;
        {% for cMsg in chat_msg %}
            {% if cMsg is mapping %}
                msg = JSON.parse('{{ cMsg | tojson }}');
            {% else %}
                msg = "{{ cMsg }}";
            {% endif %}
            displayMessage(msg);
        {% endfor %}

    </script>
{% endblock %}